body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #5e8fbb;
    min-height: 100vh;
    width: 10vw;
}

.container-div {
    display: flex;
    flex-direction: column;
    background-color: #87b7e0;
    line-height: 1;
    align-items: left;
    width: 10vw;
    padding: 0.3rem;
    box-sizing: border-box;
}

.container-div img {
    width: 1vw;
    margin-right: 0.5rem;
}

.container-div a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.container a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.container details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container details summary img {
    margin-right: 1rem;
}

details summary {
    margin-bottom: 1rem;
}