body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    height: 110vh;
}


.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #5e8fbb;
    min-height: 110vh;
    width: 45vw;

}


.container-div {
    display: flex;
    flex-direction: column;
    background-color: #87b7e0;
    line-height: 1;
    align-items: left;
    padding: 0.3rem;
    box-sizing: border-box;
}

.container-div img {
    width: 1vw;
    margin-right: 0.5rem;
}

.container-div a {
    display: flex;
    align-items: center;
    cursor: pointer;

}


.menu-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


.container a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}


.container details summary {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.container details summary img {
    margin-right: 1rem;
    margin-left: 0.5rem;

}

details summary {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main {
    background-color: #d1d1d1;
    min-height: 110vh;
    width: 1000vh;
}

.main h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

